body {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: bisque;
}

a {
  color: rgb(165, 81, 42);
}
a:visited {
  color: rgb(165, 81, 42);
}

.navigation-links {
  margin: 0 10px;
}
